body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100vw;
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    padding: 2rem;
    color: black;
    background-color: aliceblue;
    border-radius: 1rem;
}

a {
    text-align: right;
}

h1 {
    margin: 0 0 1rem 0;
    text-align: center;
}

.input_box {
    margin: 1rem 0;
}

.input_box label {
    display: inline-block;
    width: 6rem;
    font-size: 20px;
}

input {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
}

#button {
    width: 10rem;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: rgb(124, 255, 124);
}